################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

/bin/
/bin-int/
